<div class="contentbox">


   <h6 i18n>What is this game?</h6> 
    <p i18n>Predict how many seats each party will win in the upcoming Lok Sabha Elections 2024 in India. The closer your predictions are to the actual results 
        (announced on June 12th 2024), the more your chances of winning. It is FREE to play</p>
    
    <h6 class="mt-4" i18n>To play, do this:</h6>
    <ul class="p-4">
    <li class="mb-2" i18n><span >Step 1 : </span> On Home Page, Click on NEXT to proceed.</li>
    <li class="mb-2" i18n><span >Step 2 : </span> Drag the slider bar against each party name and predict how many seats that party will win. REMEMBER: ‘Seats Remaining’ must be 0 for your entry to be valid.</li>
    <li class="mb-2" i18n><span >Step 3 : </span>  Click on PREVIEW to preview how you have predicted.</li> 
    <li class="mb-2" i18n><span >Step 4 : </span>  Click on SAVE MY PREDICTION to save your prediction.</li>
    <li class="mb-2" i18n><span >Step 5 : </span>Verify your mobile number via OTP to confirm your entry (only when playing for the 1st time)..</li>
     
</ul>
    <span class="done" i18n>And you are DONE!</span><br><br>
    
    <span class="note" i18n>NOTE : </span><span i18n> You can change your predictions whenever you want, until the cut-off date.
        Election ke Baazigar results announced on: June 12th, 2024.</span><br><br>
    
     <span>Don’t forget to come back on June 12th, 2024 to check the Leaderboard if you have won a prize.</span>
    





</div>